<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <connectionStrings>
        <add name="MSSqlServer" connectionString="Server=localhost;Database=DBName;User Id=sa;Password=123456;"/>
        <add name="MySql" connectionString="server=localhost;database=DBName;user id=root;password=123456;character set=utf8mb4;"/>
        <add name="SQLite" connectionString="Data Source=sqlite.db;Version=3;"/>
        <add name="Oracle" connectionString="Data Source=(DESCRIPTION =(ADDRESS_LIST =(ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = orcl)));Persist Security Info=True;User Id=UserName;Password=123456;"/>
    </connectionStrings>
    <appSettings>
        <add key="NameSpace" value="MyModels"/> <!--命名空间-->
        <add key="ClassSuffix" value="Model"/> <!--类后缀-->
        <add key="ModelsPath" value="_Models"/> <!--生成model存放路径-->
    </appSettings>
</configuration>